# Environment
.env
*.env

# Python
__pycache__/
*.pyc
*.pyo
venv/
rag_project/
*.egg-info/

# Notebooks (learning folder)
learning/
notebooks/

# Data files (too large for GitHub)
arxiv_papers/
*.pdf
/tmp/

# Airflow logs
orchestration/logs/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

error.log
*.log